n8n/leadsifter_qualification_workflow.json
{
  "name": "LeadSifter WhatsApp Qualification Loop",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-qualification",
        "options": {}
      },
      "id": "d8c536fe-e8b6-41d8-827c-c584cb6deea4",
      "name": "FastAPI Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-2128, 160],
      "webhookId": "e3e9d98a-b43c-477a-988b-b40f18e034c9"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/internal/broker/{{ $json.body.broker_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.N8N_INTERNAL_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7c438b5-335c-4f2a-abc7-3704a066005f",
      "name": "Get Broker Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1872, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Get Broker Credentials\"].json.meta_api_base || 'https://graph.facebook.com' }}/v19.0/{{ $node[\"Get Broker Credentials\"].json.phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Get Broker Credentials\"].json.meta_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('FastAPI Trigger').item.json.body.phone }}\", \"type\": \"template\", \"template\": {\"name\": \"lead_qualification_start\", \"language\": {\"code\": \"en_US\"}}}",
        "options": {}
      },
      "id": "c89601d5-0bf5-434e-9d10-c3036568136f",
      "name": "Send WhatsApp Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1648, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/internal/conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.N8N_INTERNAL_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"lead_id\": \"{{ $('FastAPI Trigger').item.json.body.lead_id }}\", \"direction\": \"outbound\", \"body\": \"Sent WhatsApp qualification start template.\"}",
        "options": {}
      },
      "id": "8d639369-0634-436f-ba78-61e422e1b7f9",
      "name": "Log Sent Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1424, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/internal/qualification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.N8N_INTERNAL_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\": \"{{ $('FastAPI Trigger').item.json.body.phone }}\", \"lead_id\": \"{{ $('FastAPI Trigger').item.json.body.lead_id }}\", \"execution_id\": \"{{ $execution.resumeUrl }}\"}",
        "options": {}
      },
      "id": "register_qualification_node",
      "name": "Register Active Qualification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1200, 180]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {
          "limitWaitTime": true,
          "limitType": "afterTimeInterval",
          "resumeAmount": 24,
          "resumeUnit": "hours"
        }
      },
      "id": "25832c1e-a05f-49f5-89a3-d3e43995a261",
      "name": "Wait For Reply",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [-976, 180],
      "webhookId": "05264028-7dd7-4893-be6f-30a258b7820b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "56803c69-a9c2-4495-8976-50b79d06a083",
      "name": "Did Prospect Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-752, 48]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/internal/lead/{{ $('FastAPI Trigger').item.json.body.lead_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.N8N_INTERNAL_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"COLD\"}",
        "options": {}
      },
      "id": "738055bd-41fd-44a0-a3d0-4c6d3a33e37f",
      "name": "Mark Lead Cold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-432, 256]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a UAE real estate lead qualification agent conducting a WhatsApp conversation.\n\nThe prospect just replied: \"{{ $json.body }}\"\n\nExtract the following fields from their reply:\n- budget_min_aed: minimum budget in AED (integer, e.g. 500000 — or null)\n- budget_max_aed: maximum budget in AED (integer, e.g. 2000000 — or null)\n- timeline_days: how many days until they want to complete the purchase (integer — or null)\n- financing: \"mortgage\" or \"cash\" (or null if not mentioned)\n\nIf any field is still missing after reading their reply, write a single concise and friendly follow-up question in next_question to gather the next missing piece of information. Ask for one thing at a time.\n\nSet all_filled to true ONLY when all four fields (budget_min_aed, budget_max_aed, timeline_days, financing) are present.\n\nReturn ONLY a valid JSON object with exactly these six keys and no other text:\n{\n  \"budget_min_aed\": integer or null,\n  \"budget_max_aed\": integer or null,\n  \"timeline_days\": integer or null,\n  \"financing\": \"mortgage\" or \"cash\" or null,\n  \"next_question\": string or null,\n  \"all_filled\": boolean\n}",
        "batching": {}
      },
      "id": "0daf71fa-8315-4b5b-bbe5-980da2f5850c",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [-496, -144]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b7f7d2ae-e6cb-472b-8154-70fb74e0e8af",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-424, 80],
      "credentials": {
        "groqApi": {
          "id": "cIvKVyi5h2syxTHo",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The Groq LLM Chain returns the response as raw text in $json.text.\n// Parse it into a structured object so downstream nodes can use $json.all_filled etc.\nconst raw = $input.first().json.text;\n\ntry {\n  const parsed = JSON.parse(raw);\n  return [{ json: parsed }];\n} catch (e) {\n  // LLM returned non-JSON — return safe defaults and ask a recovery question\n  return [{ json: {\n    budget_min_aed: null,\n    budget_max_aed: null,\n    timeline_days: null,\n    financing: null,\n    next_question: \"Could you share your budget range in AED and your ideal move-in timeline?\",\n    all_filled: false\n  }}];\n}"
      },
      "id": "parse_llm_output",
      "name": "Parse LLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-256, -144]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.all_filled }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fb1f48a0-e6bd-4c00-a20d-203ceb8b3032",
      "name": "Is Fully Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-32, -40]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/internal/lead/{{ $('FastAPI Trigger').item.json.body.lead_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.N8N_INTERNAL_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"QUALIFIED\"}",
        "options": {}
      },
      "id": "5a676c84-01e4-49b3-9ce6-e00b56f79852",
      "name": "Mark Lead Qualified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [192, -88]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Get Broker Credentials\"].json.meta_api_base || 'https://graph.facebook.com' }}/v19.0/{{ $node[\"Get Broker Credentials\"].json.phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Get Broker Credentials\"].json.meta_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\": \"whatsapp\", \"to\": \"{{ $('FastAPI Trigger').item.json.body.phone }}\", \"type\": \"text\", \"text\": {\"body\": \"{{ $json.next_question }}\"}}",
        "options": {}
      },
      "id": "029b0276-de0e-4de5-aae4-ba319b682953",
      "name": "Send Next WhatsApp Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [192, 352]
    }
  ],
  "pinData": {},
  "connections": {
    "FastAPI Trigger": {
      "main": [[{ "node": "Get Broker Credentials", "type": "main", "index": 0 }]]
    },
    "Get Broker Credentials": {
      "main": [[{ "node": "Send WhatsApp Template", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp Template": {
      "main": [[{ "node": "Log Sent Message", "type": "main", "index": 0 }]]
    },
    "Log Sent Message": {
      "main": [[{ "node": "Register Active Qualification", "type": "main", "index": 0 }]]
    },
    "Register Active Qualification": {
      "main": [[{ "node": "Wait For Reply", "type": "main", "index": 0 }]]
    },
    "Wait For Reply": {
      "main": [[{ "node": "Did Prospect Reply?", "type": "main", "index": 0 }]]
    },
    "Did Prospect Reply?": {
      "main": [
        [{ "node": "Basic LLM Chain", "type": "main", "index": 0 }],
        [{ "node": "Mark Lead Cold", "type": "main", "index": 0 }]
      ]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Parse LLM Output", "type": "main", "index": 0 }]]
    },
    "Parse LLM Output": {
      "main": [[{ "node": "Is Fully Qualified?", "type": "main", "index": 0 }]]
    },
    "Is Fully Qualified?": {
      "main": [
        [{ "node": "Mark Lead Qualified", "type": "main", "index": 0 }],
        [{ "node": "Send Next WhatsApp Question", "type": "main", "index": 0 }]
      ]
    },
    "Send Next WhatsApp Question": {
      "main": [[{ "node": "Wait For Reply", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "450b9a54-aea8-4d25-a3f3-3f4dab3862ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8daf817fd1971cde1f7726192e5fb94fe6cdd1b2c2efa3fc9592964e50b7e285"
  },
  "id": "Ego3MXIbb69i5iPG",
  "tags": []
}